/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-0430abceebf5829b0884.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-5feaca0bc83ce6ba12c0.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-172a3e4c435a175ce779.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/index-2024-03-28T11-21-30-0248.json
/cmake-build-debug/.cmake/api/v1/reply/target-testGit1-Debug-6965d516f69b5ebf2194.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-2cc81fa6cf30dbfe3b83.json
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/a.exe
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.26.4/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/testGit1.dir/main.c.obj
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/testGit1.exe
